// Base Class Definition
// -------------------------

.wi {
  display: inline-block;
  font-family: weather;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // *margin-right: .3em;
}
