/* Weather Icons uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.#{$wi-css-prefix}-day-cloudy-gusts:before { content: $wi-var-day-cloudy-gusts; }
.#{$wi-css-prefix}-day-cloudy-windy:before { content: $wi-var-day-cloudy-windy; }
.#{$wi-css-prefix}-day-cloudy:before { content: $wi-var-day-cloudy; }
.#{$wi-css-prefix}-day-fog:before { content: $wi-var-day-fog; }
.#{$wi-css-prefix}-day-hail:before { content: $wi-var-day-hail; }
.#{$wi-css-prefix}-day-lightning:before { content: $wi-var-day-lightning; }
.#{$wi-css-prefix}-day-rain-mix:before { content: $wi-var-day-rain-mix; }
.#{$wi-css-prefix}-day-rain-wind:before { content: $wi-var-day-rain-wind; }
.#{$wi-css-prefix}-day-rain:before { content: $wi-var-day-rain; }
.#{$wi-css-prefix}-day-showers:before { content: $wi-var-day-showers; }
.#{$wi-css-prefix}-day-snow:before { content: $wi-var-day-snow; }
.#{$wi-css-prefix}-day-sprinkle:before { content: $wi-var-day-sprinkle; }
.#{$wi-css-prefix}-day-sunny-overcast:before { content: $wi-var-day-sunny-overcast; }
.#{$wi-css-prefix}-day-sunny:before { content: $wi-var-day-sunny; }
.#{$wi-css-prefix}-day-storm-showers:before { content: $wi-var-day-storm-showers; }
.#{$wi-css-prefix}-day-thunderstorm:before { content: $wi-var-day-thunderstorm; }
.#{$wi-css-prefix}-cloudy-gusts:before { content: $wi-var-cloudy-gusts; }
.#{$wi-css-prefix}-cloudy-windy:before { content: $wi-var-cloudy-windy; }
.#{$wi-css-prefix}-cloudy:before { content: $wi-var-cloudy; }
.#{$wi-css-prefix}-fog:before { content: $wi-var-fog; }
.#{$wi-css-prefix}-hail:before { content: $wi-var-hail; }
.#{$wi-css-prefix}-lightning:before { content: $wi-var-lightning; }
.#{$wi-css-prefix}-rain-mix:before { content: $wi-var-rain-mix; }
.#{$wi-css-prefix}-rain-wind:before { content: $wi-var-rain-wind; }
.#{$wi-css-prefix}-rain:before { content: $wi-var-rain; }
.#{$wi-css-prefix}-showers:before { content: $wi-var-showers; }
.#{$wi-css-prefix}-snow:before { content: $wi-var-snow; }
.#{$wi-css-prefix}-sprinkle:before { content: $wi-var-sprinkle; }
.#{$wi-css-prefix}-storm-showers:before { content: $wi-var-storm-showers; }
.#{$wi-css-prefix}-thunderstorm:before { content: $wi-var-thunderstorm; }
.#{$wi-css-prefix}-windy:before { content: $wi-var-windy; }
.#{$wi-css-prefix}-night-alt-cloudy-gusts:before { content: $wi-var-night-alt-cloudy-gusts; }
.#{$wi-css-prefix}-night-alt-cloudy-windy:before { content: $wi-var-night-alt-cloudy-windy; }
.#{$wi-css-prefix}-night-alt-hail:before { content: $wi-var-night-alt-hail; }
.#{$wi-css-prefix}-night-alt-lightning:before { content: $wi-var-night-alt-lightning; }
.#{$wi-css-prefix}-night-alt-rain-mix:before { content: $wi-var-night-alt-rain-mix; }
.#{$wi-css-prefix}-night-alt-rain-wind:before { content: $wi-var-night-alt-rain-wind; }
.#{$wi-css-prefix}-night-alt-rain:before { content: $wi-var-night-alt-rain; }
.#{$wi-css-prefix}-night-alt-showers:before { content: $wi-var-night-alt-showers; }
.#{$wi-css-prefix}-night-alt-snow:before { content: $wi-var-night-alt-snow; }
.#{$wi-css-prefix}-night-alt-sprinkle:before { content: $wi-var-night-alt-sprinkle; }
.#{$wi-css-prefix}-night-alt-storm-showers:before { content: $wi-var-night-alt-storm-showers; }
.#{$wi-css-prefix}-night-alt-thunderstorm:before { content: $wi-var-night-alt-thunderstorm; }
.#{$wi-css-prefix}-night-clear:before { content: $wi-var-night-clear; }
.#{$wi-css-prefix}-night-cloudy-gusts:before { content: $wi-var-night-cloudy-gusts; }
.#{$wi-css-prefix}-night-cloudy-windy:before { content: $wi-var-night-cloudy-windy; }
.#{$wi-css-prefix}-night-cloudy:before { content: $wi-var-night-cloudy; }
.#{$wi-css-prefix}-night-hail:before { content: $wi-var-night-hail; }
.#{$wi-css-prefix}-night-lightning:before { content: $wi-var-night-lightning; }
.#{$wi-css-prefix}-night-rain-mix:before { content: $wi-var-night-rain-mix; }
.#{$wi-css-prefix}-night-rain-wind:before { content: $wi-var-night-rain-wind; }
.#{$wi-css-prefix}-night-rain:before { content: $wi-var-night-rain; }
.#{$wi-css-prefix}-night-showers:before { content: $wi-var-night-showers; }
.#{$wi-css-prefix}-night-snow:before { content: $wi-var-night-snow; }
.#{$wi-css-prefix}-night-sprinkle:before { content: $wi-var-night-sprinkle; }
.#{$wi-css-prefix}-night-storm-showers:before { content: $wi-var-night-storm-showers; }
.#{$wi-css-prefix}-night-thunderstorm:before { content: $wi-var-night-thunderstorm; }
.#{$wi-css-prefix}-celcius:before { content: $wi-var-celcius; }
.#{$wi-css-prefix}-cloud-down:before { content: $wi-var-cloud-down; }
.#{$wi-css-prefix}-cloud-refresh:before { content: $wi-var-cloud-refresh; }
.#{$wi-css-prefix}-cloud-up:before { content: $wi-var-cloud-up; }
.#{$wi-css-prefix}-cloud:before { content: $wi-var-cloud; }
.#{$wi-css-prefix}-degrees:before { content: $wi-var-degrees; }
.#{$wi-css-prefix}-down-left:before { content: $wi-var-down-left; }
.#{$wi-css-prefix}-down:before { content: $wi-var-down; }
.#{$wi-css-prefix}-fahrenheit:before { content: $wi-var-fahrenheit; }
.#{$wi-css-prefix}-horizon-alt:before { content: $wi-var-horizon-alt; }
.#{$wi-css-prefix}-horizon:before { content: $wi-var-horizon; }
.#{$wi-css-prefix}-left:before { content: $wi-var-left; }
.#{$wi-css-prefix}-lightning:before { content: $wi-var-lightning; }
.#{$wi-css-prefix}-night-fog:before { content: $wi-var-night-fog; }
.#{$wi-css-prefix}-refresh-alt:before { content: $wi-var-refresh-alt; }
.#{$wi-css-prefix}-refresh:before { content: $wi-var-refresh; }
.#{$wi-css-prefix}-right:before { content: $wi-var-right; }
.#{$wi-css-prefix}-sprinkles:before { content: $wi-var-sprinkles; }
.#{$wi-css-prefix}-strong-wind:before { content: $wi-var-strong-wind; }
.#{$wi-css-prefix}-sunrise:before { content: $wi-var-sunrise; }
.#{$wi-css-prefix}-sunset:before { content: $wi-var-sunset; }
.#{$wi-css-prefix}-thermometer-exterior:before { content: $wi-var-thermometer-exterior; }
.#{$wi-css-prefix}-thermometer-internal:before { content: $wi-var-thermometer-internal; }
.#{$wi-css-prefix}-thermometer:before { content: $wi-var-thermometer; }
.#{$wi-css-prefix}-tornado:before { content: $wi-var-tornado; }
.#{$wi-css-prefix}-up-right:before { content: $wi-var-up-right; }
.#{$wi-css-prefix}-up:before { content: $wi-var-up; }
.#{$wi-css-prefix}-wind-east:before { content: $wi-var-wind-east; }
.#{$wi-css-prefix}-wind-north-east:before { content: $wi-var-wind-north-east; }
.#{$wi-css-prefix}-wind-north-west:before { content: $wi-var-wind-north-west; }
.#{$wi-css-prefix}-wind-north:before { content: $wi-var-wind-north; }
.#{$wi-css-prefix}-wind-south-east:before { content: $wi-var-wind-south-east; }
.#{$wi-css-prefix}-wind-south-west:before { content: $wi-var-wind-south-west; }
.#{$wi-css-prefix}-wind-south:before { content: $wi-var-wind-south; }
.#{$wi-css-prefix}-wind-west:before { content: $wi-var-wind-west; }
