// List Icons
// -------------------------

.#{$wi-css-prefix}-ul {
  padding-left: 0;
  margin-left: $wi-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$wi-css-prefix}-li {
  position: absolute;
  left: -$wi-li-width;
  width: $wi-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$wi-css-prefix}-lg {
    left: -$wi-li-width + (4em / 14);
  }
}
