// Variables
// --------------------------

$wi-css-prefix:       wi !default;
$wi-version:          "4.0.3" !default;
$wi-border-color:     #eee !default;
$wi-inverse:          #fff !default;
$wi-li-width:        (30em / 14) !default;


$wi-var-day-cloudy-gusts: "\f000";
$wi-var-day-cloudy-windy: "\f001";
$wi-var-day-cloudy: "\f002";
$wi-var-day-fog: "\f003";
$wi-var-day-hail: "\f004";
$wi-var-day-lightning: "\f005";
$wi-var-day-rain-mix: "\f006";
$wi-var-day-rain-wind: "\f007";
$wi-var-day-rain: "\f008";
$wi-var-day-showers: "\f009";
$wi-var-day-snow: "\f00a";
$wi-var-day-sprinkle: "\f00b";
$wi-var-day-sunny-overcast: "\f00c";
$wi-var-day-sunny: "\f00d";
$wi-var-day-storm-showers: "\f00e";
$wi-var-day-thunderstorm: "\f010";
$wi-var-cloudy-gusts: "\f011";
$wi-var-cloudy-windy: "\f012";
$wi-var-cloudy: "\f013";
$wi-var-fog: "\f014";
$wi-var-hail: "\f015";
$wi-var-lightning: "\f016";
$wi-var-rain-mix: "\f017";
$wi-var-rain-wind: "\f018";
$wi-var-rain: "\f019";
$wi-var-showers: "\f01a";
$wi-var-snow: "\f01b";
$wi-var-sprinkle: "\f01c";
$wi-var-storm-showers: "\f01d";
$wi-var-thunderstorm: "\f01e";
$wi-var-windy: "\f021";
$wi-var-night-alt-cloudy-gusts: "\f022";
$wi-var-night-alt-cloudy-windy: "\f023";
$wi-var-night-alt-hail: "\f024";
$wi-var-night-alt-lightning: "\f025";
$wi-var-night-alt-rain-mix: "\f026";
$wi-var-night-alt-rain-wind: "\f027";
$wi-var-night-alt-rain: "\f028";
$wi-var-night-alt-showers: "\f029";
$wi-var-night-alt-snow: "\f02a";
$wi-var-night-alt-sprinkle: "\f02b";
$wi-var-night-alt-storm-showers: "\f02c";
$wi-var-night-alt-thunderstorm: "\f02d";
$wi-var-night-clear: "\f02e";
$wi-var-night-cloudy-gusts: "\f02f";
$wi-var-night-cloudy-windy: "\f030";
$wi-var-night-cloudy: "\f031";
$wi-var-night-hail: "\f032";
$wi-var-night-lightning: "\f033";
$wi-var-night-rain-mix: "\f034";
$wi-var-night-rain-wind: "\f035";
$wi-var-night-rain: "\f036";
$wi-var-night-showers: "\f037";
$wi-var-night-snow: "\f038";
$wi-var-night-sprinkle: "\f039";
$wi-var-night-storm-showers: "\f03a";
$wi-var-night-thunderstorm: "\f03b";
$wi-var-celcius: "\f03c";
$wi-var-cloud-down: "\f03d";
$wi-var-cloud-refresh: "\f03e";
$wi-var-cloud-up: "\f040";
$wi-var-cloud: "\f041";
$wi-var-degrees: "\f042";
$wi-var-down-left: "\f043";
$wi-var-down: "\f044";
$wi-var-fahrenheit: "\f045";
$wi-var-horizon-alt: "\f046";
$wi-var-horizon: "\f047";
$wi-var-left: "\f048";
$wi-var-lightning: "\f016";
$wi-var-night-fog: "\f04a";
$wi-var-refresh-alt: "\f04b";
$wi-var-refresh: "\f04c";
$wi-var-right: "\f04d";
$wi-var-sprinkles: "\f04e";
$wi-var-strong-wind: "\f050";
$wi-var-sunrise: "\f051";
$wi-var-sunset: "\f052";
$wi-var-thermometer-exterior: "\f053";
$wi-var-thermometer-internal: "\f054";
$wi-var-thermometer: "\f055";
$wi-var-tornado: "\f056";
$wi-var-up-right: "\f057";
$wi-var-up: "\f058";
$wi-var-wind-east: "\f059";
$wi-var-wind-north-east: "\f05a";
$wi-var-wind-north-west: "\f05b";
$wi-var-wind-north: "\f05c";
$wi-var-wind-south-east: "\f05d";
$wi-var-wind-south-west: "\f05e";
$wi-var-wind-south: "\f060";
$wi-var-wind-west: "\f061";
