// Variables
// --------------------------

$wi-css-prefix:       wi !default;
$wi-version:          "1.3.0" !default;
$wi-border-color:     #eee !default;
$wi-inverse:          #fff !default;
$wi-li-width:        (30em / 14) !default;


// Glyph Names
$wi-var-day-cloudy-gusts:            "\f000";
$wi-var-day-cloudy-windy:            "\f001";
$wi-var-day-cloudy:                  "\f002";
$wi-var-day-fog:                     "\f003";
$wi-var-day-hail:                    "\f004";
$wi-var-day-lightning:               "\f005";
$wi-var-day-rain-mix:                "\f006";
$wi-var-day-rain-wind:               "\f007";
$wi-var-day-rain:                    "\f008";
$wi-var-day-showers:                 "\f009";
$wi-var-day-snow:                    "\f00a";
$wi-var-day-sprinkle:                "\f00b";
$wi-var-day-sunny-overcast:          "\f00c";
$wi-var-day-sunny:                   "\f00d";
$wi-var-day-storm-showers:           "\f00e";
$wi-var-day-thunderstorm:            "\f010";
$wi-var-cloudy-gusts:                "\f011";
$wi-var-cloudy-windy:                "\f012";
$wi-var-cloudy:                      "\f013";
$wi-var-fog:                         "\f014";
$wi-var-hail:                        "\f015";
$wi-var-lightning:                   "\f016";
$wi-var-rain-mix:                    "\f017";
$wi-var-rain-wind:                   "\f018";
$wi-var-rain:                        "\f019";
$wi-var-showers:                     "\f01a";
$wi-var-snow:                        "\f01b";
$wi-var-sprinkle:                    "\f01c";
$wi-var-storm-showers:               "\f01d";
$wi-var-thunderstorm:                "\f01e";
$wi-var-windy:                       "\f021";
$wi-var-night-alt-cloudy-gusts:      "\f022";
$wi-var-night-alt-cloudy-windy:      "\f023";
$wi-var-night-alt-hail:              "\f024";
$wi-var-night-alt-lightning:         "\f025";
$wi-var-night-alt-rain-mix:          "\f026";
$wi-var-night-alt-rain-wind:         "\f027";
$wi-var-night-alt-rain:              "\f028";
$wi-var-night-alt-showers:           "\f029";
$wi-var-night-alt-snow:              "\f02a";
$wi-var-night-alt-sprinkle:          "\f02b";
$wi-var-night-alt-storm-showers:     "\f02c";
$wi-var-night-alt-thunderstorm:      "\f02d";
$wi-var-night-clear:                 "\f02e";
$wi-var-night-cloudy-gusts:          "\f02f";
$wi-var-night-cloudy-windy:          "\f030";
$wi-var-night-cloudy:                "\f031";
$wi-var-night-hail:                  "\f032";
$wi-var-night-lightning:             "\f033";
$wi-var-night-rain-mix:              "\f034";
$wi-var-night-rain-wind:             "\f035";
$wi-var-night-rain:                  "\f036";
$wi-var-night-showers:               "\f037";
$wi-var-night-snow:                  "\f038";
$wi-var-night-sprinkle:              "\f039";
$wi-var-night-storm-showers:         "\f03a";
$wi-var-night-thunderstorm:          "\f03b";
$wi-var-celsius:                     "\f03c";
$wi-var-cloud-down:                  "\f03d";
$wi-var-cloud-refresh:               "\f03e";
$wi-var-cloud-up:                    "\f040";
$wi-var-cloud:                       "\f041";
$wi-var-degrees:                     "\f042";
$wi-var-down-left:                   "\f043";
$wi-var-down:                        "\f044";
$wi-var-fahrenheit:                  "\f045";
$wi-var-horizon-alt:                 "\f046";
$wi-var-horizon:                     "\f047";
$wi-var-left:                        "\f048";
$wi-var-_reserved_:                  "\f049";
$wi-var-night-fog:                   "\f04a";
$wi-var-refresh-alt:                 "\f04b";
$wi-var-refresh:                     "\f04c";
$wi-var-right:                       "\f04d";
$wi-var-sprinkles:                   "\f04e";
$wi-var-strong-wind:                 "\f050";
$wi-var-sunrise:                     "\f051";
$wi-var-sunset:                      "\f052";
$wi-var-thermometer-exterior:        "\f053";
$wi-var-thermometer-internal:        "\f054";
$wi-var-thermometer:                 "\f055";
$wi-var-tornado:                     "\f056";
$wi-var-up-right:                    "\f057";
$wi-var-up:                          "\f058";
$wi-var-wind-west:                   "\f059";
$wi-var-wind-south-west:             "\f05a";
$wi-var-wind-south-east:             "\f05b";
$wi-var-wind-south:                  "\f05c";
$wi-var-wind-north-west:             "\f05d";
$wi-var-wind-north-east:             "\f05e";
$wi-var-wind-north:                  "\f060";
$wi-var-wind-east:                   "\f061";

// New v1.2
$wi-var-smoke:                       "\f062";
$wi-var-dust:                        "\f063";
$wi-var-snow-wind:                   "\f064";
$wi-var-day-snow-wind:               "\f065";
$wi-var-night-snow-wind:             "\f066";
$wi-var-night-alt-snow-wind:         "\f067";
$wi-var-day-sleet-storm:             "\f068";
$wi-var-night-sleet-storm:           "\f069";
$wi-var-night-alt-sleet-storm:       "\f06a";
$wi-var-day-snow-thunderstorm:       "\f06b";
$wi-var-night-snow-thunderstorm:     "\f06c";
$wi-var-night-alt-snow-thunderstorm: "\f06d";
$wi-var-solar-eclipse:               "\f06e";
$wi-var-lunar-eclipse:               "\f070";
$wi-var-meteor:                      "\f071";
$wi-var-hot:                         "\f072";
$wi-var-hurricane:                   "\f073";
$wi-var-smog:                        "\f074";
$wi-var-alien:                       "\f075";
$wi-var-snowflake-cold:              "\f076";
$wi-var-stars:                       "\f077";

// Moon Phases
//$wi-var-old-moon-full:               "\f078";
//$wi-var-old-moon-waxing-gibbous:     "\f079";
//$wi-var-old-moon-waxing-quarter:     "\f07a";
//$wi-var-old-moon-waxing-crescent:    "\f07b";
//$wi-var-old-moon-young:              "\f07c";
//$wi-var-old-moon-new:                "\f07d";
//$wi-var-old-moon-old:                "\f07e";
//$wi-var-old-moon-waning-crescent:    "\f080";
//$wi-var-old-moon-waning-quarter:     "\f081";
//$wi-var-old-moon-waning-gibbous:     "\f082";

// More new v1.2
$wi-var-night-partly-cloudy:         "\f083";

// New 1.3 11-30-14
$wi-var-umbrella                    :"\f084";
$wi-var-day-windy                   :"\f085";
$wi-var-night-alt-cloudy         :"\f086";
$wi-var-up-left                  :"\f087";
$wi-var-down-right               :"\f088";
$wi-var-time-12                  :"\f089";
$wi-var-time-1                   :"\f08a";
$wi-var-time-2                   :"\f08b";
$wi-var-time-3                   :"\f08c";
$wi-var-time-4                   :"\f08d";
$wi-var-time-5                   :"\f08e";
$wi-var-time-6                   :"\f08f";
$wi-var-time-7                   :"\f090";
$wi-var-time-8                   :"\f091";
$wi-var-time-9                   :"\f092";
$wi-var-time-10                  :"\f093";
$wi-var-time-11                  :"\f094";

// Moon Phases
$wi-var-moon-new                    :"\f095";
$wi-var-moon-waxing-cresent-1       :"\f096";
$wi-var-moon-waxing-cresent-2       :"\f097";
$wi-var-moon-waxing-cresent-3       :"\f098";
$wi-var-moon-waxing-cresent-4       :"\f099";
$wi-var-moon-waxing-cresent-5       :"\f09a";
$wi-var-moon-waxing-cresent-6       :"\f09b";
$wi-var-moon-first-quarter          :"\f09c";
$wi-var-moon-waxing-gibbous-1       :"\f09d";
$wi-var-moon-waxing-gibbous-2       :"\f09e";
$wi-var-moon-waxing-gibbous-3       :"\f09f";
$wi-var-moon-waxing-gibbous-4       :"\f0a0";
$wi-var-moon-waxing-gibbous-5       :"\f0a1";
$wi-var-moon-waxing-gibbous-6       :"\f0a2";
$wi-var-moon-full                   :"\f0a3";
$wi-var-moon-waning-gibbous-1       :"\f0a4";
$wi-var-moon-waning-gibbous-2       :"\f0a5";
$wi-var-moon-waning-gibbous-3       :"\f0a6";
$wi-var-moon-waning-gibbous-4       :"\f0a7";
$wi-var-moon-waning-gibbous-5       :"\f0a8";
$wi-var-moon-waning-gibbous-6       :"\f0a9";
$wi-var-moon-3rd-quarter            :"\f0aa";
$wi-var-moon-waning-crescent-1      :"\f0ab";
$wi-var-moon-waning-crescent-2      :"\f0ac";
$wi-var-moon-waning-crescent-3      :"\f0ad";
$wi-var-moon-waning-crescent-4      :"\f0ae";
$wi-var-moon-waning-crescent-5      :"\f0af";
$wi-var-moon-waning-crescent-6      :"\f0b0";

//
$wi-var-wind-default                :"\f0b1";
$wi-var-day-sleet                   :"\f0b2";
$wi-var-night-sleet                 :"\f0b3";
$wi-var-night-alt-sleet             :"\f0b4";
$wi-var-sleet                       :"\f0b5";
$wi-var-day-haze                    :"\f0b6";
$wi-var-beafort-0                   :"\f0b7";
$wi-var-beafort-1                   :"\f0b8";
$wi-var-beafort-2                   :"\f0b9";
$wi-var-beafort-3                   :"\f0ba";
$wi-var-beafort-4                   :"\f0bb";
$wi-var-beafort-5                   :"\f0bc";
$wi-var-beafort-6                   :"\f0bd";
$wi-var-beafort-7                   :"\f0be";
$wi-var-beafort-8                   :"\f0bf";
$wi-var-beafort-9                   :"\f0c0";
$wi-var-beafort-10                  :"\f0c1";
$wi-var-beafort-11                  :"\f0c2";
$wi-var-beafort-12                  :"\f0c3";

